body{
    background-color: midnightblue;
}
.board{
    position:relative;
    margin:auto;
    background-color: white;
    border-radius: 20px;;
    text-align:center;
    border: 2px solid black;
    box-shadow:10px 10px rgba(0, 0, 0, 0.2);
    margin-top:5%;
    margin-bottom:5%;
}
#Login{
    height:500px;
}
#Creation{
    height: 700px;
}
.inputFields [type = "text"], [type = "password"], [type = "email"]{
    display:block;
    border-radius: 15px;
    border-width:2px;
    padding:10px;
    margin-bottom:20px;
    box-shadow: 2px 2px grey;
}
.inputFields input:hover{
    border-color: aqua;
}
.fieldName{
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-weight:bold;
}

#TOSMessage{
    font-size:13px;
    font-style:italic;
}

.inputFields{
    margin:auto;
    padding: 30px;
    border-radius: 20px;
}

#redirectionPrompt{
    display: inline-block;
    border: none;
    width: 350px;
    margin-top:10px;
    margin-bottom:10px;
}
#submitButton{
    margin-top:20px;
    border-radius: 10px;
    position:relative;
}
#submitButton:hover{
    background-color: darkgrey;
}

hr{
    margin:auto;
}

a{
    text-decoration:none;
}
.notify, #emailNotification{
    color:red;
    font-size:12px;
    text-align: left;
    display:none;
    position:relative;
    top: -10px;
    margin: 0%;
}
#visibility{
    color:red;
}

#banner{
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style-type:none;
    background-color: rgb(62, 64, 76);
}

#banner td{
    display: inline-block;
    color: white;
    border-right:1px;
    border-color:rgb(103, 103, 103);
    border-style:solid;
    padding: 8px;  
}
#home{
    text-align: center;
}
#search{
    display: inline-block;
    text-align:right;
}
#searchbar{
    padding-left: 10px;
}
#searchbar{
    border-radius: 15px;
}