body{
    background-color: midnightblue;
}
#LoginBoard{
    top:100px;
    height: 550px;
    position:relative;
    margin:auto;
    background-color: white;
    border-radius: 20px;;
    text-align:center;
    border: 2px solid black;
    box-shadow:10px 10px rgba(0, 0, 0, 0.2);
}
#inputFields input{
    display:block;
    border-radius: 15px;
    border-width:2px;
    padding:10px;

    box-shadow: 1px 1px;
}
#inputFields input:hover{
    border-color: aqua;
}
label{
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-weight:bold;
}

#inputFields{
    margin:auto;
    padding: 30px;
    border-radius: 20px;
}

#creationPrompt{
    display: inline;
    border: none;
    width: 350px;
    position:relative;
}
#submitButton{
    margin-top:20px;
    border-radius: 10px;
    position:relative;
}
#submitButton:hover{
    background-color: darkgrey;
}

hr{
    margin:auto;
}
a{
    text-decoration:none;
}
.notify{
    color:red;
    font-size:12px;
    text-align: center;
    display:none;
}
#visibility{
    color:red;
}