#CreatorID, #PostID{
    display: none;
}
#CommentContent{
    resize: none;
    height: 140px;
    border-radius: 10px;
    padding:10px;
}
#userCommentProfilePic{
    width:100%;
    height:100%;
}

.profileContainer{
    overflow:hidden;
    float:left;
    margin-right: 10px;
    border: 1px solid black;
}

.profileContainer#currentUserContainer{
    width:100px;
    height:100px;
    border-radius: 15px;
}

.profileContainer.smallContainer{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

#commentCreationBoard{
    display:flex;
    overflow:hidden;
    flex-direction: column;
    padding-bottom: 10px;
}
#currentUserProfile{
    margin-bottom: 10px;
    height: 100px;
}

.userProfile{
    height: 50px;
    margin-bottom: 5px;
}

#newCommentHeader{
    text-align: center;
}

#newCommentBody{
    padding-left:40px;
    padding-right:40px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#userCommentsBoard{
    height: 600px;
    overflow: hidden;
    padding-bottom: 10px;
}

#commentProfilePic{
    width:100%;
    height: 100%;
}

.userCommentsContainer{
    display: flex;
    height: 500px;
    text-align: left;
    flex-direction: column;
    overflow-y:auto;
}
.userComment{
    display: flex;
    position: relative;
    flex-direction:column;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left:40px;
    padding-right:40px;
    height: 200px;
}
#commentCreationButtons{
    text-align: right;
    display: none;
}

.userCommentText{
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap:break-word;
    height: 80px;
}

.userCommentField{
    border: 1px solid lightgray;
    border-radius: 15px;
    padding-left: 10px;
}