html, body {
    height: 100%; 
    width: 100%; 
    margin: 0; 
}

body{
    background-color: midnightblue;
}
.board{
    position:relative;
    margin:auto;
    background-color: white;
    border-radius: 20px;;
    text-align:center;
    border: 2px solid black;
    box-shadow:20px 20px rgba(0, 0, 0, 0.2);
    margin-top:5%;
    animation: appear 0.5s;
}
#Login{
    height:90%;
}
#Creation{
    height: 115%;
}
#postCreate{
    height: 100%;
}
#accountPosts{
    height: 60%;
    overflow: hidden;
    padding-bottom: 20px;
    display: flex; 
    flex-direction: column;
    position:relative;
}
#accountHeader{
    height: 40%;
    overflow: hidden;
    padding-bottom: 20px;
}

.inputBox{
    display:block;
    margin:auto;
    border-radius: 15px;
    border-width:2px;
    padding:10px;
    margin-bottom:10px;
    box-shadow: 2px 2px grey;
}
#username:hover, #password:hover{
    border-color: aqua;
}
.fieldName{
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-weight:bold;
}

#TOSMessage{
    font-size:13px;
    font-style:italic;
}

.inputFields{
    margin:auto;
    padding: 30px;
    border-radius: 20px;
}

#redirectionPrompt{
    display: inline-block;
    border: none;
    width: 350px;
    margin-top:10px;
    margin-bottom:10px;
}
#submitButton, #submit{
    margin-top:20px;
    border-radius: 10px;
    position:relative;
}
#submitButton:hover{
    background-color: darkgrey;
}

hr{
    margin:auto;
}

a{
    text-decoration:none;
}
.notify, #emailNotification{
    color:red;
    display:none;
    margin:10px;
}
#visibility{
    color:red;
}

#banner{
    position:fixed;
    top:0px;
    z-index:2;
    width:100%;
    margin: 0px;
    padding: 0px;
    list-style-type:none;
    background-color: rgb(62, 64, 76);
    box-shadow: 0px 10px rgba(0, 0, 0, 0.2);
}

#banner .entry{
    display: inline-block;
    color: white;
    border-right:1px;
    border-color:rgb(103, 103, 103);
    border-style:solid;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    height:45px;
}
#home:hover, #account:hover, #create:hover{
    background-color:rgb(41, 42, 50);
}

#searchbar{
    padding-left: 10px;
    border-radius: 15px;
}
#word{
    animation: slide 15s linear;
    position:fixed;
    z-index:-1;
    font-family: "times new roman";
    text-shadow:2px 2px 5px;
}

@keyframes slide{
    0% {
      transform: translate3d(0, 0, 0);
      color:rgba(255, 255, 255, 0);
    }
    10%{
        color:white;
    }
    90% {
      color:rgba(255, 255, 255, 0);
    }
    100%{
        transform: translate3d(3000px, 0, 0);
    }
  }

  @keyframes appear{
    0%{transform: scale(0.9);}
    100%{transform: scale(1);}
  }
#logo{
    margin:30px;
}
.dropdown{
    color:white;
    background-color: rgb(100, 104, 122);
    top: 14px;
    display: none;
}
.dropdown span{
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    display:inline-block;
    width:100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
.dropdown > span:hover{
    background-color:rgb(84, 87, 103);
}
#profilePic{
    display:block;
    overflow:hidden;
    width: 200px;
    height: 200px;
    border-radius:15px;
    float:left;
    border: 2px solid black;
}
#name, #userContent{
    text-align: left;
    position:relative;
    left:20px;
}
#userDetails{
    margin:10px;
    padding-bottom: 10px;
}
.detailHeader{
    font-weight:bold;
}
#profileDivider{
    clear:left;
}
#banner a:link, #banner a:visited{
    color:white;
}
.header{
    height:50px;
    background-color: rgb(100, 104, 122);
    color:white;
    font-size: 30px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
    margin-bottom:20px;
    border-bottom: 2px solid black;
}

.inputLabel{
    font-weight:bold;
    font-size:20px;
}
#choices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#promptContainer{
    margin-bottom: 50px;
}
#tagsContainer{
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
    overflow-y:auto;
    border: 2px solid black;
    background-color: aliceblue;
}

.tag-button{
    border: 1px solid black;
    background-color: white;
    margin:5px;
    border-radius: 15px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
}

.tag-button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.bar{
    height:40px;
    display:flex;
    flex-direction:row;
    border: 2px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius:20px;
    overflow:hidden;
    box-shadow:10px 10px rgba(0, 0, 0, 0.2);
}

#left{
    width:50%;
    background-color: rgb(32, 32, 255);
}
#right{
    width:50%;
    background-color: rgb(255, 32, 32);
}

.highlight{
    width: 100%;
    height: 20%;
    position:relative;
    top:0;
    background-color: rgba(255, 253, 133, 0.5);
}

.shadow{
    width: 100%;
    height: 20%;
    position:relative;
    top:60%;
    background-color: rgba(48, 47, 50, 0.5);
}

#divider{
    position:absolute;
    left:49.5%;
    top:-25%;
    width: 1%;
    height:150%;
    background-color: silver;
    border: 1px solid black;
}
#barBox{
    border-radius: 5px;
    height: 100px;
    background-color: rgb(135, 140, 163);
    border: 2px solid black;
    position:relative;
    box-shadow:10px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
}

#barContainer{
    margin:auto;
    position:relative;
}

.bolt{
    overflow:hidden;
    rotate: 45deg;
    border-radius: 50px;
    background-color: rgb(160, 167, 193);
    height: 10px;
    width: 10px;
    position:absolute;
    box-shadow:2px 1px rgba(0, 0, 0, 0.2);
}

#bolt1{
    top:5px;
    left:5px;
}

#bolt2{
    top:5px;
    right:5px;
}

#bolt3{
    bottom:5px;
    left:5px;
}

#bolt4{
    bottom:5px;
    right:5px;
}

.boltgap{
    margin:auto;
    background-color: rgb(110, 117, 144);
    height: 15px;
    width: 2px;
    
}
.lightray{
    position:absolute;
    top:-25%;
    height:150px;
    rotate:30deg;
    background-color:rgba(255,255,255,0.3);
}

#lightray1{
    width:50px;
    left: 20%;
}

#lightray2{
    width:20px;
    left: 35%;
}

#userPosts{
    display:flex;
    flex-direction: column;
    overflow-y:auto;
    text-align:left;
    height: 50%;
}

#postHeader{
    position:relative;
    padding:10px;
    height:60px;
}

#userPosts > div{
    padding:20px;
    border-bottom: 1px solid black;
}

#userPosts > div:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.small-bar{
    width: 25%;
    height: 10px;
    display: flex;
    flex-direction:row;
}

.post-subheading{
    font-weight:bold;
}

#filterBox{
    text-align: left;
    padding-bottom:10px;
    padding-left:10px;
    border-bottom: 1px solid black;
}

#messageDisplay{
    margin: auto;
    text-align: center;
    color: white;
    background-color: rgb(120, 123, 137, 0.8);
    position:fixed;
    top:50px;
    z-index:1;
    height:50px;
    width:100%;
}

#messageDisplay > *{
    font-size: xx-large;
}

.postDelete{
    position:absolute;
    font-size: 20px;
    top:10px;
    right:10px;
}
.postDelete:hover, #notificationClose:hover{
    color:red;
}

.userPost{
    position:relative;
}
#sortOption, #sortOrder{
    border-radius: 10px;
    padding:2px;
    box-shadow: 2px 2px grey;
}

#confirmMsg{
    display:none;
    margin:auto;
    text-align: center;
    position:fixed;
    top:0;
    width: 100%;
    height:100%;
    z-index:3;
    background-color: rgba(0, 0, 0, 0.5);
}
#confirmMsg > .board{
    position: relative;
    height:200px;
}

#confirm{
    display:block;
    position:absolute;
    bottom:10px;
    left:25%;
}

#notificationClose{
    position:absolute;
    top:10px;
    right:20px;
    font-size: 25px;
}