{% extends "defaultFormat.html" %}
{%block content%}
<div id = "accountHeader" class="board col-8 col-m-6" >
    <div id = "profileHeader" class = "header col-12"> User Profile: <div class = "fas fa-id-card"></div></div>
    <div id = "userDetails">
        <img id = "profilePic" src = "">
        <h1 id = "name">{{user.username}} #{{user.user_ID}}</h1>
        <p id = "userContent">
            <span class ="detailHeader">Email:</span> {{user.email}} <br> 
            <span class ="detailHeader">Posts:</span> {{user.count_posts()}}<br>
            <span class ="detailHeader">Average Percent from 50-50:</span> {{user.average_dif()}}%<br>
            <span class ="detailHeader">Ranking:</span> {{user.rank()}}<br>
            <span class ="detailHeader">Joined:</span> {{user.date}}
        </p>
    </div>
    <hr class = "col-11">
</div>



<div id="accountPosts" class="board col-8 col-m-6">
    <div id="postHeader" class="header col-12">Posts: 
        <div class="fas fa-folder"></div>
    </div>
    <div id="filterBox"><div class = "fas fa-filter"></div> Filter By:
        <select id="sortOption">
            <option value="Popularity">Popularity</option>
            <option value="Difference">Difference</option>
            <option value="UploadDate">Upload Date</option>
        </select>
        <select id="sortOrder">
            <option value="Ascending">Ascending</option>
            <option value="Descending">Descending</option>
        </select>
    </div>
    <div id="userPosts" style="flex-grow: 1;"></div>
</div>
<script src="{{ url_for('static', filename='js/profilePageFunctionality.js') }}"></script>
{% endblock %}