{% extends "defaultFormat.html" %}
{%block content%}
<div id = "accountHeader" class="board col-8 col-m-6" >
    <div id = "profileHeader" class = "header col-12"> User Profile: <div class = "fas fa-id-card"></div></div>
    <div id = "userDetails">
        <img id = "profilePic" src = "">
        <h1 id = "name">{{user.username}} #{{user.user_ID}}</h1>
        <p id = "userContent">
            <span class ="detailHeader">Email:</span> {{user.email}} <br> 
            <span class ="detailHeader">Posts:</span> {{user.count_posts()}}<br>
            <span class ="detailHeader">Average:</span> {{user.average_dif()}}%<br>
            <span class ="detailHeader">Ranking:</span> Insert ranking here<br>
            <span class ="detailHeader">Joined:</span> {{user.date}}
        </p>
    </div>
    <hr class = "col-11">
</div>

<div id = "accountPosts" class="board col-8 col-m-6" >
    <div id = "postHeader" class = "header col-12">Posts: <div class = "fas fa-folder"></div></div>
    <div id = "userPosts">
        {%for post in user.posts()%}
        <div>{{post.Option1}}  vs. {{post.Option2}} ({{post.total_left()}} to {{post.total_right()}})</div>
        {% endfor %}
    </div>
</div>
{% endblock %}