{% extends "defaultFormat.html" %}
{% block content %}
<div id="postCreate" class="board col-10 col-m-8 col-lg-6">
    <h1>Post Creation:</h1>

    <hr class="col-sm-9">

    <form id="newPoll" class="inputFields col-sm-10" method="post" action="/create">
        {{form.hidden_tag()}}
        
        <div id = "promptContainer">
            {{form.prompt.label(class = "inputLabel")}}
            {{form.prompt(class = "inputBox col-sm-12", placeholder = "Enter your prompt here:")}}
        </div>
        
        <div id = "choices">
            <div class = "col-sm-5">
                {{form.option1.label(class = "inputLabel")}}
                {{form.option1(class = "inputBox col-sm-12", placeholder = "Enter option here:")}}
            </div>
            <div class = "col-sm-5">
                {{form.option2.label(class = "inputLabel")}}
                {{form.option2(class = "inputBox col-sm-12", placeholder = "Enter option here:")}}
            </div>
        </div>
        
        {{PollBar |safe }}

        <h2>Select up to 3 tags:</h2>

        <div id="tagsContainer" class="col-sm-10">
            <div class="tags">
                {%for tag in tags%}
                <button type="button" class="tag-button" data-tag="{{tag}}">{{tag}}</button>
                {%endfor%}
            </div>
            
            {{ form.tags(id='tags', style="display: none;") }}
            
        </div>
        
        {{form.submit(class = "btn btn-primary col-9")}}
    </form>   
</div>

<script>
    var selectedTags = [];

    function updateTagsField() {
        document.querySelector('#tags').value = selectedTags.join(',');
    }

    document.querySelectorAll('.tag-button').forEach(item => {
        item.addEventListener('click', event => {
            if (selectedTags.includes(item.dataset.tag)) {
                selectedTags = selectedTags.filter(tag => tag !== item.dataset.tag);
                item.classList.remove('selected');
                item.style.backgroundColor = 'rgb(255, 255, 255)';
            } else {
                if (selectedTags.length < 3) {
                    selectedTags.push(item.dataset.tag);
                    item.classList.add('selected');
                    item.style.backgroundColor = 'rgba(0, 0, 0, 0.2)';
                }
            }
            updateTagsField();
        });
    });


</script>
{% endblock %}