<!DOCTYPE html>
<html>
    <head>  
        <title>SplitDif - {{title}}</title>
        <link rel = "icon" type="image/x-icon" href="static/favicon.ico">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Stylesheet.css') }}">
        <script src="https://kit.fontawesome.com/38ca22e423.js" crossorigin="anonymous"></script> 
    </head>
    <body>
        <table id = banner>
            <tr>
                <td class = "entry col-2"><img src="static/Logo.png" id = "website-white" class = "col-5"></td>
                <td id = "home" class = "entry col-2">
                    <a href="{{ url_for('home') }}"><div class = "fas fa-home"></div> Home</a>
                    <div id = "homeDropdown" class = "dropdown col-12">
                        <span><a href="{{ url_for('about') }}"><div class = "fas fa-lightbulb"></div> About</span></a><br>
                        <span><a href="{{ url_for('popular') }}"><div class = "fas fa-arrow-trend-up"></div> Most Popular</span></a><br>
                        <span><a href="{{ url_for('ranking') }}"><div class = "fas fa-ranking-star"></div> User Rankings</span></a><br>
                    </div>
                </td>
                <td id = "create" class = "entry col-2"><a href="{{ url_for('create') }}"><div class = "fas fa-pen"></div> Create</a></td>
                <td id = "search" class = "entry col-4"><div class = "fas fa-search"></div> <input id = "searchbar" type = "text" placeholder = "Search" class = "col-10"></td>
                <td id = "account" class = "entry col-2">
                    {% if 'username' in session %}
                        <div class = "fas fa-user"></div> Account 
                        <div id = "accountDropdown" class = "dropdown col-12">
                            <span><a href="{{ url_for('account') }}"><div class = "fas fa-id-card"></div> Profile</span></a><br>
                            <span><a href="{{ url_for('logout') }}"><div class = "fas fa-arrow-right-from-bracket"></div> Log-out</span></a><br>
                        </div>
                    {% else %}
                        <a href="{{ url_for('login') }}"><div class = "fas fa-user"></div> Login</a>
                    {% endif %}
                </td>
            </tr>
        </table>
        {% block content %}{% endblock %}
    </body>
    <script src = "https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/loginPageFunctionality.js') }}"></script>
    <script>
        const selected_tags = []
        function tag_options(){
            const tags = ["Food", "Sports", "Fashion", "Subject", "Video Games", "Anime", "Board Games" , "Animals", "People", "Places", "Film", "TV", "Novels", "Abilities", "Historical"];
            for(tag of tags){
                $("#tagContainer").append("<div class = 'tag'><span class = 'fas fa-plus'></span> " + tag + "</div>");
            }
        }
        tag_options();

        function tagSelection(e){
            const val = $(e.currentTarget).text();
            if(!selected_tags.includes(val) && selected_tags.length <3){
                selected_tags.push(val);
                $(e.currentTarget).html("<span class = 'fas fa-minus'></span>" + val).css("background-color", "lime");
            }
            else if(selected_tags.includes(val)){
                selected_tags.splice(selected_tags.indexOf(val), 1);
                $(e.currentTarget).html("<span class = 'fas fa-plus'></span>" + val).css("background-color", "white");
            }
        }
        $(".tag").click((e) => {tagSelection(e)})
    </script>
</html>