{% extends "defaultFormat.html" %}

{% block content %}

<div class="homepage-container">
    <section class="homepage-intro">
        <h1>Welcome to SplitDif</h1>
        <p>Discover diverse opinions, create engaging polls, and share your unique perspective with the community!</p>
    </section>

    <main class="homepage-card-container">
        <section class="homepage-card">
            <h2>Start Creating Polls!</h2>
            <a class="homepage-btn homepage-btn-primary" href="{{ url_for('main.create') }}">Create Polls</a>
            <a class="homepage-btn homepage-btn-primary" href="{{ url_for('main.random_poll') }}">Vote Now</a>
        </section>

        <section class="homepage-card">
            <h2>Most Popular Polls</h2>
            <p>Check out the polls that have been most popular among users.</p>
            <a class="homepage-btn homepage-btn-info" href="{{ url_for('main.popular') }}">View Polls</a>
        </section>

        <section class="homepage-card">
            <h2>User Rankings</h2>
            <p>Explore the top-ranked users and see who stands out in the SplitDif community.</p>
            <a class="homepage-btn homepage-btn-success" href="{{ url_for('main.ranking') }}">View Rankings</a>
        </section>
    </main>
</div>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Home.css') }}">
{% endblock %}