{% extends "defaultFormat.html" %}

{% block content %}
<main id="vote-page" class="container mt-5">
    <div class="board">
        <h1>Vote on Polls</h1>
        <div id="polls-container" class="poll-container">
            <div class="poll" id="{{poll.poll_ID}}">
                <h3>{{poll.prompt}}</h3>
                <form id="poll-form">
                    <div class="poll-options">
                        <label>
                            <input type="radio" name="option" value="1">
                            {{poll.Option1}}
                        </label>
                        <label>
                            <input type="radio" name="option" value="2">
                            {{poll.Option2}}
                        </label>
                    </div>
                    <button type="submit" class="btn-vote">Vote</button>
                </form>
                <div id="results" {%if not vote%} style="display: none;"{% endif %}>
                    <h4>Results:</h4>
                    <p><b>Option A:</b> {{poll.Option1}} <br> {{poll.total_left()}} {% if poll.total_left() == 1 %} vote {% else %}votes{% endif %} ({{poll.left_percentage()}}%)</p>
                    <p><b>Option B:</b> {{poll.Option2}} <br> {{poll.total_right()}} {% if poll.total_right() == 1 %} vote {% else %}votes{% endif %} ({{poll.right_percentage()}}%)</p>
                    {{PollBar |safe }}
                </div>
            </div>
        </div>
        {% block RandomPoll %}{% endblock %}
    </div>
</main>
{% if current_user.is_authenticated%}
<div id = "commentCreationBoard" class = "board col-8">
    <div id ="newCommentHeader" class = "header col-12"> New Comment: <div class="fas fa-comment"></div></div>
    <div id ="newCommentBody">
        <div id = "currentUserProfile">
            <div id = "currentUserContainer" class = "profileContainer">
                <img id = "commentProfilePic" src="{{url_for('static', filename='Images/DefaultProfile.png')}}">
            </div>
            <h1>{{current_user.user_ID}}# {{current_user.username}}</h1>
        </div>
        <h5>Create a new comment: <div class = "fas fa-pencil"></div></h5>
        <form id = "commentCreation" class= "col-12" method = 'post' action = "{{url_for('create_comment')}}">
            {{comment.hidden_tag()}}
            {{comment.CreatorID(value = current_user.user_ID)}}
            {{comment.PostID(value = poll.poll_ID)}}
            {{comment.CommentContent(class = 'col-12', maxlength = 500, placeholder = "Enter a new comment here:")}}
            <div id ="commentCreationButtons">
                <button id = "commentCancel" class="btn btn-secondary col-2">Cancel</button>
                {{comment.CommentSubmit(class = "btn btn-primary col-2")}}
            </div>
        </form>
    </div>
</div>
<div id = "userCommentsBoard" class = "board col-8">
    <div id ="userCommentsHeader" class = "header col-12"> Comments:</div>
    <div class = "userCommentsContainer">
        {% for comment in poll.comments %}
        <div class = "userComment">
            <div class = "userProfile" id = "{{comment.comment_ID}}">
                {% if comment.user.user_ID == current_user.user_ID %}<div id = "deleteComment" class ="fas fa-xmark deleteItem"></div>{% endif %}
                <div class = "profileContainer smallContainer">
                    <img id = "commentProfilePic" src="{{url_for('static', filename='Images/DefaultProfile.png')}}">
                </div>
                <h5>{{comment.user.username}}</h5>
                <p>Date: {{comment.readable_date()}}</p>
            </div>
            <div class = "userCommentField">
                <b>Comment: </b>
                <p class = "userCommentText">{{comment.message}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{{notification |safe }}
{% endif %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Comments.css') }}">
<script src="{{ url_for('static', filename='js/VoteFunctionality.js') }}"></script>
<script src="{{ url_for('static', filename='js/CommentFunctionality.js') }}"></script>
<script>$(document).ready(() => {handle_submission()});</script>
{% endblock %}