{% extends "defaultFormat.html" %}

{% block content %}
<main id="vote-page" class="container mt-5">
    <div class="board">
        <h1>Vote on Polls</h1>
        <div id="polls-container" class="poll-container">
            <div class="poll" id="{{poll['ID']}}">
                <h3>{{poll['prompt']}}</h3>
                <form id="poll-form">
                    <div class="poll-options">
                        <label>
                            <input type="radio" name="option" value="1">
                            {{poll['option1']}}
                        </label>
                        <label>
                            <input type="radio" name="option" value="2">
                            {{poll['option2']}}
                        </label>
                    </div>
                    <button type="submit" class="btn-vote">Vote</button>
                </form>
                <div id="results" {%if not vote%} style="display: none;"{% endif %}>
                    <h4>Results:</h4>
                    <p>{{poll['option1']}}: {{poll['left%']}}%</p>
                    <p>{{poll['option2']}}: {{poll['right%']}}%</p>
                </div>
            </div>
        </div>
    </div>
</main>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vote.css') }}">
<script src="{{ url_for('static', filename='js/VoteFunctionality.js') }}"></script>
<script>$(document).ready(() => {handle_submission()});</script>
{% endblock %}