{% extends "defaultFormat.html" %}
{%block content%}
<div id = "Login" class="board col-8 col-m-6 col-lg-4" >
    <h1>Login Page</h1>

    <hr class = "col-sm-9">

    <img id = "logo" src="static/icon.png">

    <form  class = "inputFields col-sm-10" method="post" action="/login">
        {{form.hidden_tag()}}
        <p style="color: red;">{{ message }}</p>

        <label class = "fieldName" for = username>Username: <span class = "fas fa-user"></span></label>
        {{form.username(class = "col-sm-12", placeholder = "Username")}}
        <p class = "notify"><span class = "fas fa-exclamation"></span> This field cannot be empty</p>

        <label class = "fieldName" for = password>Password: <span  id = "visibility" class="fas fa-eye-slash" title = "View"></span></label>
        {{form.password(class = "col-sm-12", placeholder = "Password")}}
        <p class = "notify"><span class = "fas fa-exclamation"></span> This field cannot be empty</p>

        {{form.submit(value = "Login", class = "col-9")}}
    </form>
    
    <hr class = "col-sm-9">
    <p id = "redirectionPrompt"> Don't have an account? <a href = "{{ url_for('create_account') }}">Create new account</a></p>
    <hr class = "col-sm-9"><br>
</div>
{% endblock %}