{% extends "defaultFormat.html" %}
{%block content%}
<div id = "Login" class="board col-8 col-m-6 col-lg-4" >
    <h1>Login Page</h1>

    <hr class = "col-sm-9">

    <img id = "logo" src="static/icon.png">

    <form  class = "inputFields col-sm-10" method="post" action="/login">
        <p style="color: red;">{{ message }}</p>

        <label class = "fieldName" for = usernameField>Username: <span class = "fas fa-user"></span></label>
        <input type = "text" id = "usernameField" name = "username" placeholder = "Username" class = "col-sm-12">
        <p class = "notify"><span class = "fas fa-exclamation"></span> This field cannot be empty</p>

        <label class = "fieldName" for = passwordField>Password: <span  id = "visibility" class="fas fa-eye-slash" title = "View"></span></label>
        <input type = "password" id = "passwordField" name = "password" placeholder = "Password" class = "col-sm-12">
        <p class = "notify"><span class = "fas fa-exclamation"></span> This field cannot be empty</p>

        <button type = "submit" class = "col-9" id ="submitButton"  class = "btn btn-primary ">Login</button>
    </form>
    
    <hr class = "col-sm-9">
    <p id = "redirectionPrompt"> Don't have an account? <a href = "/create_account_page">Create new account</a></p>
    <hr class = "col-sm-9">
</div>
{% endblock %}