<div class="poll" id="{{poll.poll_ID}}">
    <h3>{{poll.prompt}}</h3>
    <form id="poll-form">
        <div class="poll-options">
            <label>
                <input type="radio" name="option" value="1">
                {{poll.Option1}}
            </label>
            <label>
                <input type="radio" name="option" value="2">
                {{poll.Option2}}
            </label>
        </div>
        <button type="submit" class="btn-vote">Vote</button>
    </form>
    <div id="results" style="display: none;">
        <h4>Results:</h4>
        <p>{{poll.Option1}}: {{poll.left_percentage()}}%</p>
        <p>{{poll.Option2}}: {{poll.right_percentage()}}%</p>
    </div>
</div>