<tr id = "popularHeading">
    <th>Rank: </th>
    <th>Poll: </th>
    <th>Date: </th>
    <th>All-time votes: </th>
</tr>
{% for poll in polls %}
<tr class = "ranked popularPoll" id = "{{poll.poll_ID}}">
    <td class="rank col-sm-1 col-md-1 col-lg-1" 
        {% if loop.index == 1 %}style="background-color: gold;"{% elif loop.index == 2 %}style="background-color: silver;"{% elif loop.index == 3 %}style="background-color: #CD7F32;"{% endif %}>
        {{loop.index}}#
    </td>
    <td class = "col-sm-6 col-md-5 col-lg-4">
        <h5>{{poll.prompt}}</h5>
        <p>{{poll.Option1}} vs. {{poll.Option2}}</p>
    </td>
    <td class = "col-3">{{poll.readable_date()}}</td>
    <td class = "col-2">{{poll.total_votes()}}</td>
</tr>
{% endfor %}
<script>
        // Opens new window with a given post when a user clicks on it
        $(".popularPoll").click(function(){window.open("/Poll/" + $(this).attr("id"));});
</script>