{% extends "defaultFormat.html" %}
{% block content%}
<div id = "searchBoard" class="board col-8 col-m-6">
    <div id="searchHeader" class="header col-12">Search Results:
    {% if posts %}
    <div id="searchPosts" class = "col-12">
        {% for post in posts %}
        <div class="searchPost col-12" id = "{{ post.poll_ID }}">
            <p>
                <b>Post ID: </b>{{ post.poll_ID }}
                <br>
                <b>Author:</b> <a href = "{{url_for('main.account', id = post.pollAuthor_ID)}}">{{ post.get_author() }}</a>
            </p>
            <p>
                <b>Prompt:</b> {{ post.prompt }} 
                <br>
                <b>Options:</b> {{ post.Option1 }} vs {{ post.Option2 }}
                <br>
                <b>Tags:</b> {{ post.tag1 }} {% if post.tag2 != None %} , {{ post.tag2}} {% endif %} {% if post.tag3 != None %} , {{ post.tag3 }} {% endif %}
            </p>
            <p>
                <b>Total Votes:</b> {{post.total_votes()}}
                <br>
                <b>Posted on: </b><date>{{ post.readable_date() }}</date>
            </p>
            <button class = 'btn btn-primary postRedirect'>Open</button>
        </div>
        {% endfor %}
        <script>
                // Opens new window with a given post when a user clicks on it
                $(".postRedirect").click(function(){window.open("/Poll/" + $(this).parent().attr("id"));});
        </script>
    </div>
    {% endif %}
</div>
{% endblock %}