{% for post in posts %}
<div class="userPost">
    <div class = "fas fa-xmark postDelete" id = "{{post['ID']}}"></div>
    <p><span class="post-subheading">ID: </span>{{post["ID"]}}</p>
    <p><span class="post-subheading">{{ post["prompt"] }}:</span> {{ post["option1"] }} ({{ post["left%"] }}%) vs {{ post["option2"] }} ({{ post["right%"] }}%)</p>

    <div class="small-bar">
        {%if post["left%"] == 100%}
        <div style="width: 100%; background-color:red;"></div>
        {%elif post["left%"] == 0%}
        <div style="width: 100%; background-color:blue;"></div>
        {%else%}
        <div style="width: {{ post['left%'] }}%; background-color:red;"></div>
        <div style="width: {{ post['right%']}}%; background-color:blue;"></div>
        {%endif%}
    </div>
    <br>

    <div><span class="post-subheading">Posted on:</span> {{ post["date_readable"] }} </div>

    <div>{% if post["tag1"] != None %}
        <p><span class="post-subheading">Tags:</span> {{ post["tag1"] }} {% endif %} {% if post["tag2"] != None %} , {{ post["tag2"]}} {% endif %} {% if post["tag3"] != None %} , {{ post["tag3"] }} {% endif %}</p>
    </div>
</div>
{% endfor %}
<script>
    function delete_post(id){
        $.get("/DeletePost/" + id, function (data) {window.location.replace(data)});
    };
    let id;
    $(".postDelete").click(
        function() 
        {
            id = $(this).attr("id");
            $("#confirmMsg").css("display", "block");
        }
    )
    $("#notificationClose").click(()=>{$("#confirmMsg").css("display", "none");});
    $("#confirm").click(()=>{delete_post(id);});
</script>